## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
import sys, os
os.getcwd()

'C:\\Users\\shant\\Documents\\GitHub\\World_Weather_Analysis\\Vacation_Itinerary'

In [2]:
os.chdir('C:\\Users\\shant\\Documents\\Github\\World_Weather_Analysis')

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
#1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Matara,LK,81.07,broken clouds,5.9485,80.5353,Amaloh Boutique Resort
1,3,Port Blair,IN,82.35,broken clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
2,6,Bayji,IQ,77.58,clear sky,34.9311,43.4870,مروان /عدنان
3,10,Ibotirama,BR,78.69,scattered clouds,-12.1853,-43.2206,Serra do Rio Hotel
4,12,Bodden Town,KY,84.20,few clouds,19.2833,-81.2500,Will T Place

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Djibo") & (vacation_df["Country"] == "BF")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Djibo") & (vacation_df["Country"] == "BF")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Kibala") & (vacation_df["Country"] == "TD")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Aswan") & (vacation_df["Country"] == "EG")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Sabha") & (vacation_df["Country"] == "LY")] 

print(vacation_start)
print(vacation_end)
print(vacation_stop1)
print(vacation_stop2)
print(vacation_stop3)

    City_ID   City Country  Max Temp Current Description      Lat     Lng  \
81      302  Djibo      BF     84.69    scattered clouds  14.1022 -1.6306

                     Hotel Name
81  Centre Des Ressources DPENA
    City_ID   City Country  Max Temp Current Description      Lat     Lng  \
81      302  Djibo      BF     84.69    scattered clouds  14.1022 -1.6306

                     Hotel Name
81  Centre Des Ressources DPENA
     City_ID    City Country  Max Temp Current Description     Lat      Lng  \
126      506  Kibala      TD     76.95           clear sky  9.1104  18.3463

       Hotel Name
126  hotel safari
    City_ID   City Country  Max Temp Current Description      Lat     Lng  \
52      203  Aswan      EG     80.96           clear sky  24.0934  32.907

   Hotel Name
52  Nuba Nile
    City_ID   City Country  Max Temp Current Description      Lat      Lng  \
71      267  Sabha      LY     79.75           clear sky  27.0377  14.4283

                                           Hotel Name
71  Foundation Taaj Asala for Historical Research ...

In [34]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]


end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]

stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]

stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]

stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

print(f'Start:  {start}\n\nStop 1: {stop1} \n\nStop 2: {stop2}\n\nStop 3: {stop3} \n\nEnd:    {end}')

Start:  (14.1022, -1.6306)

Stop 1: (9.1104, 18.3463)

Stop 2: (24.0934, 32.907)

Stop 3: (27.0377, 14.4283)

End:    (14.1022, -1.6306)

In [37]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode="DRIVING")

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1, vacation_stop2,vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,302,Djibo,BF,84.69,scattered clouds,14.1022,-1.6306,Centre Des Ressources DPENA
1,506,Kibala,TD,76.95,clear sky,9.1104,18.3463,hotel safari
2,203,Aswan,EG,80.96,clear sky,24.0934,32.9070,Nuba Nile
3,267,Sabha,LY,79.75,clear sky,27.0377,14.4283,Foundation Taaj Asala for Historical Research ...
4,302,Djibo,BF,84.69,scattered clouds,14.1022,-1.6306,Centre Des Ressources DPENA

In [39]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [40]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))